.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padd-top: 10px;
  }

  .menubar{
    background-color: transparent;
    border:none;
  }
  